body {
    font-family: 'Merriweather Sans', sans-serif;
}
.contribute {
    font-family: 'Permanent Marker'
}
#logo {
    height:85px;
    width:85px;
}
li>a {
    font-size:26px;
}
#dropdown-text {
    font-size:17px;
}
.please-center {
    display:block;
    margin-right:auto;
    margin-left:auto;
}
.black {
    background-color:#070C0F;
}
h1 {
    text-align:center;
    color:white;
    font-size:70px;
}