body {
    font-family: 'Merriweather Sans', sans-serif;
}
.contribute {
    font-family: 'Permanent Marker';
    color:black;
    text-align: center;
}
#logo {
    height:85px;
    width:85px;
}
li>a {
    font-size:26px;
}
#dropdown-text {
    font-size:17px;
}
.please-center {
    display:block;
    margin-right:auto;
    margin-left:auto;
}
.black {
    background-color:#070C0F;
}
h1 {
    text-align:center;
    color:white;
    font-size:70px;
}

.carousel-item {
    height: "100px"
}

.contribute-back {
        background-color: grey
}
h2 {
    text-align: center;
    font-weight: bold;
    font-size:45px;
}
ul>li {
    font-size: 36px;
}